<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parallex_MFB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/custom/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div style="background-color: #1F007D">
            <nav class="navbar navbar-expand-md navbar-padding">
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img class="logo" src="@Url.Content("~/images/Logo.png")" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fas fa-bars hamburger"></i></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <div class="ml-auto">
                        <a asp-page="/account-opening" class="btn paralax-btn-outline-yellow btn-lg my-2 my-sm-0 paralax-nav-barlink-font-btn">Open Account</a>
                        <button class="btn paralax-btn-outline-transparent btn-lg my-2 my-sm-0 paralax-nav-barlink-font">Internet Banking <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </nav>

        </div>

        <div style="background-color: #FFF">
            <nav class="navbar navbar-expand-lg container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link paralax-nav-barlink-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PERSONAL BANKING <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
                                <ul class="sub-menu-item">
                                    <li>
                                        <a class="dropdown-item" href="#" data-menu="accounts">
                                            Accounts
                                            <i class="fa fa-chevron-right icon"></i>
                                        </a>

                                        <ul id="accounts" class="sub-menu-item hide">
                                            <li>
                                                <a class="dropdown-item" href="#" data-menu="">
                                                    Current Account
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>

                                                <ul id="account-details" class="sub-menu-item">
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-menu="">
                                                            Classic Current Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-menu="">
                                                            Gold Current Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-menu="">
                                                            Platinum Current Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-menu="">
                                                            Domicilliary Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-menu="">
                                                            Salary Current Account
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/savings-account">
                                                    Savings Account
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                                <ul id="loans" class="sub-menu-item hide">
                                                    <li>
                                                        <a class="dropdown-item"  asp-page="/savings-account" data-menu="">
                                                            Classic Savings Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-page="/savings-account" data-menu="">
                                                            Target Savings Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-page="/savings-account" data-menu="">
                                                            Great Kids Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-page="/savings-account" data-menu="">
                                                            Salary Savings Account
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item"  asp-page="/savings-account" data-menu="">
                                                            Youth Savings Account
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/fixed-income-account" data-menu="">
                                                    Fixed Income Account
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/cards" data-menu="cards">
                                            Cards
                                            <i class="fa fa-chevron-right icon"></i>
                                        </a>
                                        <ul id="cards" class="sub-menu-item hide">
                                            <li>
                                                <a class="dropdown-item" asp-page="/cards" data-menu="">
                                                    Debit Card
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"asp-page="/cards" data-menu="">
                                                    Prefunded Master Card
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/cards" data-menu="">
                                                    Debit Master Card
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"asp-page="/cards" data-menu="">
                                                    Master Card
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/more-products-services" data-menu="products_services">
                                            More on Products <br /> & Services
                                            <i class="fa fa-chevron-right icon"></i>
                                        </a>

                                        <ul id="products_services hide" class="sub-menu-item">
                                            <li>
                                                <a class="dropdown-item" href="#" data-menu="">
                                                    Wallet Being Products
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/loans" data-menu="loans">
                                            Loans
                                            <i class="fa fa-chevron-right icon"></i>
                                        </a>
                                        <ul id="loans" class="sub-menu-item hide">
                                            <li>
                                                <a class="dropdown-item" asp-page="/loans" data-menu="">
                                                    Salary Loans
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/loans" data-menu="">
                                                    Salary Advance Loans
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/loans" data-menu="">
                                                    Digital Credit
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-page="/loans" data-menu="">
                                                    Credit Card
                                                    <i class="fa fa-chevron-right icon"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link paralax-nav-barlink-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                BUSINESS BANKING <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Business Accounts
                                            <i class="fa fa-chevron-right icon"></i>
                                        </a>
                                        <ul>
                                            <li><a asp-page="/business-accounts">Classic Business Account</a></li>
                                            <li><a asp-page="/business-accounts">Premium Business Account</a></li>
                                            <li><a asp-page="/business-accounts">Platinum Business Account</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link paralax-nav-barlink-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT US <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ul>
                                    <li><a asp-page="/mission-vision">Vision/Mission/Values</a></li>
                                    <li><a asp-page="/company-profile">Company Profile</a></li>
                                    <li><a asp-page="/board-of-directors">Board of Directors</a></li>
                                    <li><a asp-page="/exco-members">Exco Members</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link paralax-nav-barlink-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CONTACT US <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ul>
                                    <li><a href="#">Plot 1261, Adeola Hopewell Street, V.I, Lagos</a></li>
                                    <li><a href="mailto:customercare@parallexbankng.com" class="text-gold">customercare@parallexbankng.com</a></li>
                                    <li><a href="tel:0700 727 25539" class="text-gold">0700 727 25539</a></li>
                                    <li><a href="tel:0912 180 4317" class="text-gold">0912 180 4317</a></li>
                                    <li><a href="tel:0912 192 1226" class="text-gold">0912 192 1226</a></li>
                                    <li><a href="tel:0912 272 2067" class="text-gold">0912 272 2067</a></li>
                                </ul>
                            </div>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link paralax-nav-barlink-font">
                            <i class="fas fa-search"></i>
                            </a>

                            </li>*@

                    </ul>


                </div>
            </nav>

        </div>





    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer class="paralax-foooter paralax-footer-spacing">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="@Url.Content("~/images/Logo.png")" style="max-width:205px" />
                </div>
                <div class="col-sm">
                    <h6 class="header-title">Personal Banking <span class="fa fa-chevron-down" data-menu="fmnu_personal_account"></span></h6>
                    <ul class="" id="fmnu_personal_account">
                        <li class="">
                            <a class="paralax-footer-link-regular" asp-page="/accounts">Account</a>
                        </li>
                        <li class="">
                            <a class="paralax-footer-link-regular" asp-page="/cards">Cards</a>
                        </li>
                        <li class="">
                            <a class="paralax-footer-link-regular" asp-page="/more-products-services">More On Products && Services</a>
                        </li>
                        <li class="">
                            <a class="paralax-footer-link-regular" asp-page="/loans">Loans</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h6 class="header-title">Business Banking <span class="fa fa-chevron-down" data-menu="fmnu_businessBanking"></span></h6>
                    <ul id="fmnu_businessBanking">
                        <li>
                            <a class="paralax-footer-link-regular" asp-page="/business-accounts">Business Accounts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h6 class="header-title">About Us <span class="fa fa-chevron-down" data-menu="fmnu_aboutus"></span></h6>
                    <ul id="fmnu_aboutus">
                        <li><a asp-page="/mission-vision">Vision/Mission, Values</a></li>
                        <li><a asp-page="/company-profile">Company Profile</a></li>
                        <li><a asp-page="/board-of-directors">Board of Directors</a></li>
                        <li><a href="/exco-members">Exco Members</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h6 class="header-title">Contact Us <span class="fa fa-chevron-down" data-menu="fmnu_contactus"></span></h6>
                    <ul id="fmnu_contactus">
                        <li><a href="#">Plot 1261, Adeola Hopewell Street, V.I, Lagos</a></li>
                        <li><a href="mailto:customercare@parallexbankng.com" class="text-gold">customercare@parallexbankng.com</a></li>
                        <li><a href="tel:0700 727 25539" class="text-gold">0700 727 25539</a></li>
                        <li><a href="tel:0912 180 4317" class="text-gold">0912 180 4317</a></li>
                        <li><a href="tel:0912 192 1226" class="text-gold">0912 192 1226</a></li>
                        <li><a href="tel:0912 272 2067" class="text-gold">0912 272 2067</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copy_right">
            <div class="container ">
                @*<hr class="hr-footer" />*@

                <div class="row">
                    <div class="col-md-3 ">
                        <p class="paralax-footer-font" href="#">&copy 2020 All right reserved | Parallex Bank</p>
                    </div>
                    <div class="col-md-6 justify-content-center terms_conditions">
                        <a class="paralax-footer-font" href="#"> Terms & Conditions &nbsp;</a>
                        <a class="paralax-footer-font" href="#"> &nbsp; |&nbsp; Privacy Policy &nbsp; </a>
                        <a class="paralax-footer-font" href="#">&nbsp; | &nbsp; Sitemap</a>
                    </div>
                    <div class="col-md-3" style="display:flex; justify-content: space-evenly;">
                        <a class="paralax-footer-font" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="paralax-footer-font" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="paralax-footer-font" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="paralax-footer-font" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('.header-title > span').click(function (e) {
                const menuId = e.currentTarget.getAttribute('data-menu');
                $('#' + menuId).slideToggle('fast');
            })
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
